body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button{
  background-color: #66bfbf;
  border: 0;
  border-radius: 100px;
  padding: 5px 10px;
}

input[type=text],
input[type=number]{
  border: 1px solid #ccc;
  padding: 5px;
}

td:hover{
  cursor: pointer;
}

/* Display */
.flex{ display: flex; }
.fd-column{ flex-direction: column; }
.just-center{ justify-content: center; }
.ai-center{ align-items: center; }

/* Color */
.red{ color: red; }